$body-bg: rgba(0, 0, 0, 0);
$text-color: #fff;
$navbar-default-bg: rgba(80, 76, 76, 0.9);
$navbar-default-link-color: #fff;
$jumbotron-bg: rgba(0, 0, 0, 0.58);
$navbar-height: 70px;
$navbar-padding-vertical: 15px;
$font-size-base: 20px;
.navbar-brand:after {
    display: block;
    text-align: center;
    font-size: ceil(($font-size-base * 0.5));
    line-height: 20px;
    color: yellow;
    content: "Taiwan Traffic Safety Association";
}
body {
    padding-top: 60px;
    background-image: url('/images/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset rgba(0, 0, 0, .4) 0 0 0 50vw;
}
li {
    text-shadow: #000 0 0 5px;
    line-height: 1.7;
    margin-bottom: 15px;
}
footer {
    padding: 20px;
    border-top: 1px solid #eeeeee;
    box-shadow: inset rgba(41, 38, 38, 0.9) 0 0 0 50vw;
}
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
