$body-bg: rgba(0, 0, 0, 0);
$text-color: #fff;
$navbar-default-bg: rgba(80, 76, 76, 0.9);
$navbar-default-link-color: #fff;
$jumbotron-bg: rgba(0, 0, 0, 0.58);
$navbar-height: 70px;
$navbar-padding-vertical: 15px;
$navbar-default-link-hover-color: $navbar-default-link-color;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-active-bg: $navbar-default-bg;
$btn-primary-bg: rgba(51, 122, 183, 0.59);
$icon-font-path: "../../fonts/";
$well-bg: rgba(255, 255, 255, 0.33);
$font-size-base: 20px;
$font-family-sans-serif: Arial, 微軟正黑體;
$page-header-border-color: rgba(238, 238, 238, 0.52);
$line-height-base: .85;
h4 > span.label {
    margin-left: 15px;
}
.navbar-footer {
    background: rgba(255, 255, 255, 0.9);
    max-height: 50px;
    min-height: 30px;
    p {
        margin: -3px 0px 14px;
        color: #656565;
    }
    .label {
        font-size: 100%;
        background-color: #f00;
    }
}
.navbar-brand:after {
    display: block;
    text-align: center;
    font-size: ceil(($font-size-base * 0.5));
    line-height: 20px;
    color: yellow;
    content: "Taiwan Traffic Safety Association";
}
.navbar-nav {
    > li > a {
    &:hover, &:focus {
        border-bottom: 1px solid;
        }
    }
    > .active > a {
        & {
            border-bottom: 1px solid #fff;
        }
    }
}
body {
    padding-top: 100px;
    background-image: url('/images/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset rgba(0, 0, 0, .4) 0 0 0 50vw;
}
li {
    text-shadow: #000 0 0 5px;
    line-height: 1.7;
    margin-bottom: 15px;
}
footer {
    font-size: 14px;
    padding: 20px 20px 40px;
    border-top: 1px solid #eeeeee;
    box-shadow: inset rgba(41, 38, 38, 0.9) 0 0 0 50vw;
}
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
mark {
    background-color: rgba(181, 181, 178, 0.36);
    color: $text-color;
}
