$body-bg: rgba(0, 0, 0, 0);
$text-color: #fff;
$navbar-default-bg: rgba(80, 76, 76, 0.9);
$navbar-default-link-color: #fff;
$jumbotron-bg: rgba(0, 0, 0, 0.58);
body {
    background-image: url('/images/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: inset rgba(0, 0, 0, .4) 0 0 0 50vw;
}
li {
    text-shadow: #000 0 0 5px;
}
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
